body {
	text-align: center;
	line-height: 35px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 22px;
	margin-top: 25px;
	/*background-color: #F5F5F5;*/
}

h1 {
	font-size: 35px; 
	text-align: center; 
	/*font-family: 'Josefin Sans', sans-serif;*/
	margin-top: 25px;
	margin-bottom: 25px;
	font-weight: bold;
}

p {
	font-size: 22px;
	width: 400px;
	text-align: left;
}
#top-image {
	height: 450px;
	/*width: 400px;*/
	width: 50%;
	margin-left: 50px;
	float: left;
	margin-top: 25px;
}
#text  {
	float: right;
	margin-right: 75px;
}

#logo-2 {
	margin-top: 25px; 
	width: 177px;
	height: 55.5px;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> master
@media (max-width: 800px) {
	body {
		line-height: 25px;
		font-size: 12px;
		width: 80%;
		margin-left: 20px;
		margin-right: 0px;
	}
	
	#top-image {
		height:200px;
		width: 200px;
		position: absolute;
		margin-top: 25px;
		margin-left: 0px;
	}
	#logo-2 {
		margin-top: 50px;
		position: relative;
	}
	#text {
		margin-top: 250px;
	}

	p {
		text-align: center;
	}

<<<<<<< HEAD
}
=======
>>>>>>> master
=======
}
>>>>>>> master
