/* BASIC LAYOUT STYLING */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Josefin Sans', sans-serif;
	width: 100%;
}

header {
	background-color: transparent;
	height: 80px;
	width: 90%;
	/*border: 1px solid black;*/
	margin: 0 1.5% 24px 1.5%;
	/*float: left;*/
	position: fixed;
}
img {
	margin-top: 10px;
}
nav {
	/*position: absolute;*/
	/*top: 25%;*/
	margin-top: 20px;
	right: 1.5%;
	float: right;
	}
.nav-about {
	/*padding-left: 1.5%;*/
}
ul {
	margin: 0px;
}
li {
	display: inline-block;
	width: 75px;
	height: 25px;
}
h2 {
	width: 200px;
	height: 80px;
	float: left;
	font-size: 24px;
	margin-top: 10px;
}
h4 {
	font-size: 22px;
	font-weight: bold;
	padding-bottom: 15px;
}
h5 {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
}
a {
	color: inherit;
	text-decoration: none;
}
p {
	line-height: 25px;
	margin-bottom: 10px;
}
p#contact-section {
	line-height: 30px;
}
p#form-section {
	line-height: 20px;
	width: 365px;
}
div {
	height: 600px;
	/*float: left;*/
}
aside#home-main-image {
	/*text-align: center;*/
	padding-top: 20%;
}
section {
	height: 500px;
	/*margin: 0px 1.5% 0 1.5%;*/
	padding: 50px;
	/*border: 1px solid black; 	*/
}
footer {
	background-color: #F5F5F5;
	/*height: 200px;*/
	position: static;
	margin-top: 500px;
}
#home-slides {
	background-image: url(../images/art-3-final.png);
	background-size: cover;
	background-position: center;
	text-align: center;
}

/* LAYOUT STYLING BY SECTIONS */

/*services section*/
aside.services {
	width: 225px;
	height: 50px;
	float: left;
	margin: 0px 25px 50px 25px;
	/*margin: 5% 10% 10% 10%;*/
	/*position: relative;*/
	text-align: center;
	padding: 0px;
}
section.services {
	padding-top: 40px;
}
img#services-images {
	width: 200px;
	height: 200px;
	padding-bottom: 20px;
}
#design {
	margin-left: 75px;
}
#marketing {
	margin-right: 75px;
}

#development {
	margin-left: 100px;
	margin-right: 100px;
	padding: 0px;
}
p#dev-text {
	line-height: 
}

/*about us section*/
section#about-us {
	text-align: left;
	/*position: relative;*/
	padding-left: 75px;
	padding-right: 75px;
	background-color: #F5F5F5;
}
#about-us-image {
	height: 358px;
	width: 500px;
	/*position: absolute;*/
	float: right;
	text-align: center;
	margin-top: 30px;
}
aside.section-text {
	position: absolute;
	padding: 0px 25px 25px 0;
	width: 450px;
}

/*contact us section*/
#contact-us{
	text-align: left;
	padding-left: 75px;
	padding-right: 75px;
	padding-top: 40px;
	width: 45%;
	float: left;
}
img#contact-us-map {
	height: 275px;
	width: 375px;
	/*background-color: pink;*/
	/*text-align: center;*/
	margin-top: 135px;
}



/* questions form section styling */
#questions-form {
	width: 45%;
	float: right;
	position: relative;
	padding-top: 40px;
}

/* FORM STYLING */
input[type=text]{
	width: 350px;
	margin-bottom: 5px;
}
input#request[type=text]{
	height: 100px;
}
label {
	display: block;
	position: center;
}
input #submit-button {
	text-align: left;
}
input#tel {
	margin-left: 25px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 285px;
}


/* FOOTER STYLING */

footer {
	text-align: center;
}
/*img#single-logo {
	margin-top: 15px;
	width: 50px;
	height: 50px;
}
img#footer-logo {
	width: 170.75px;
	height: 32.625px;
}*/

img#logo-2 {
	margin-top: 25px;
}
div#socials {
	height: 85px;
}
p#copyright {
	vertical-align: text-bottom;
	margin-bottom: 0px;
}
.socials {
	height: 35px;
	width: 35px;
	margin: 25px 10px 25px 10px;
}

