header {
	background-color: transparent;
	height: 80px;
	width: 90%;
	/*border: 1px solid black;*/
	box-sizing: border-box;
	margin: 0 1.5% 24px 1.5%;
	/*float: left;*/
	position: fixed;
}
nav {
	/*position: absolute;*/
	/*top: 25%;*/
	margin-top: 15px;
	right: 1.5%;
	float: right;
	}
.nav-about {
	/*padding-left: 1.5%;*/
}
ul {
	margin: 0px;
}
li {
	display: inline-block;
	width: 75px;
	height: 25px;
}
h2 {
	width: 200px;
	height: 80px;
	/*background-color: gray;*/
	float: left;
}
div {
	height: 600px;
	/*float: left;*/
	background-color: pink;
}
aside {
	text-align: center;
	padding-top: 25%;
}
section {
	height: 500px;
	margin: 0px 1.5% 0 1.5%;
	padding: 50px;
	border: 1px solid black; 	
}
footer {
	background-color: gray;
	height: 200px;
}
#home-slides {
	background-image: url(../images/sample-1.jpg);
	background-size: cover;
	background-position: center;
}



