/* BASIC LAYOUT STYLING */

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

body {
	font-family: 'Josefin Sans', sans-serif;
	width: 100%;
}

header {
	background-color: transparent;
	height: 80px;
	width: 90%;
	/*border: 1px solid black;*/
	margin: 0 1.5% 24px 1.5%;
	/*float: left;*/
	position: fixed;
	z-index:200;
}
header.scroll {
	background-color: white;
	height: 50px;

}
img {
	margin-top: 10px;
}
nav {
	/*position: absolute;*/
	/*top: 25%;*/
	margin-top: 20px;
	right: 1.5%;
	float: right;
	}
.nav-about {
	/*padding-left: 1.5%;*/
}
ul {
	margin: 0px;
}
li {
	display: inline-block;
	width: 75px;
	height: 25px;
}
h2 {
	width: 200px;
	height: 80px;
	float: left;
	font-size: 24px;
	margin-top: 10px;
}
h4 {
	font-size: 22px;
	font-weight: bold;
	padding-bottom: 10px;
}
h5 {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
}
a {
	color: inherit;
	text-decoration: none;
}
p {
	line-height: 25px;
	margin-bottom: 10px;
}
p#contact-section {
	line-height: 30px;
}
p#form-section {
	line-height: 20px;
	width: 365px;
}
div {
	height: 600px;
	/*float: left;*/
}
aside#home-main-image {
	/*text-align: center;*/
	padding-top: 20%;
}
section {
	height: 500px;
	margin-top: 25px;
	/*margin: 0px 1.5% 0 1.5%;*/
	padding: 50px;
	/*border: 1px solid black; 	*/
}
footer {
	background-color: #F5F5F5;
	/*height: 200px;*/
	position: static;
	margin-top: 500px;
}
#home-slides {
	background-image: url(../images/art-3-final.png);
	background-size: cover;
	background-position: center;
	text-align: center;
}

.header-logo {
	width: 170.75px;
	height: 32.5px;
}
.home-logo {
	width: 341.5px;
	height: 65.25px;
}

button {
 cursor: pointer;
 height: 30px;
 width: 30px;
 background-color: #F5F5F5;
 border-radius: 50%;
 /*display: inline-block;*/
 transition: background-color 0.6s ease;
}
.active, .dot:hover {
 background-color: #F5F5F5;
 color: transparent;
}

/* LAYOUT STYLING BY SECTIONS */

#left-button {
	float: left;
	margin-left: 10px;
}

#right-button {
	float: right;
	margin-right: 10px;
}

/*services section*/

aside.services {
	width: 250px;
	height: 50px;
	float: left;
	margin: 0px 25px 50px 25px;
	/*margin: 5% 10% 10% 10%;*/
	/*position: relative;*/
	text-align: center;
	padding: 0px;
	position: relative;
}
/*div#services {
	padding-top: 40px;
	margin-top: 25px;
}*/
img#services-images {
	width: 200px;
	height: 200px;
	padding-bottom: 20px;
	margin-top: 75px;
}
#design {
	margin-left: 75px;
}
#marketing {
	margin-right: 75px;
}

#development {
	margin-left: 100px;
	margin-right: 100px;
	padding: 0px;
}

/*about us section*/
section#about-us {
	text-align: left;
	/*position: relative;*/
	padding-left: 75px;
	padding-right: 75px;
	background-color: #F5F5F5;
}
#about-us-image {
	height: 358px;
	width: 500px;
	/*position: absolute;*/
	float: right;
	text-align: center;
	margin-top: 30px;
}
aside.section-text {
	position: absolute;
	padding: 0px 25px 25px 0;
	width: 450px;
}

/*contact us section*/
#contact-us{
	text-align: left;
	padding-left: 75px;
	padding-right: 75px;
	padding-top: 50px;
	width: 45%;
	float: left;
}
img#contact-us-map {
	height: 275px;
	width: 375px;
	/*background-color: pink;*/
	/*text-align: center;*/
	margin-top: 135px;
}



/* questions form section styling */
#questions-form {
	width: 45%;
	float: right;
	position: relative;
	padding-top: 50px;
}

/* FORM STYLING */

input[type=text]{
	width: 350px;
	margin-bottom: 5px;
}
input#request[type=text]{
	height: 100px;
}
label {
	display: block;
	position: center;
}
input #submit-button {
	text-align: left;
}
input#tel {
	margin-left: 25px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 285px;
}
input { 
  border: 1px solid #BCBCBC;
  /*padding: 6px;*/
  margin: 0;
  background: #F0EDE5;
  border-radius: 3px;
  /*font-size: 12px;*/
}
#submit-btn {
	background-color: #F0EDE5;
}

/* FOOTER STYLING */

footer {
	text-align: center;
}
/*img#single-logo {
	margin-top: 15px;
	width: 50px;
	height: 50px;
}
img#footer-logo {
	width: 170.75px;
	height: 32.625px;
}*/

img#logo-2 {
	margin-top: 25px;
	width: 177px;
	height: 55.5px;
}
div#socials {
	height: 85px;
}
p#copyright {
	vertical-align: text-bottom;
	margin-bottom: 0px;
}
.socials {
	height: 35px;
	width: 35px;
	margin: 25px 10px 25px 10px;
}

/* ADDITIONAL STYLING */

@media (max-width: 800px) {

	body {
		font-size: 14px;
		width: 100%;
		position: relative;
	}
	h4 {
		font-size: 18px;
	}
	.header-logo {
		width: 113.833px;
		height: 21.6667px;
	}
	.home-logo {
	width: 227.667px;
	height: 43.5px;
	}
	aside#home-main-image {
		padding-top: 25%;
	}

	div#home-slides {
		background-position: left;
		width: 100%;
		height: 400px;
	}
	#contact-us #questions-form {
		padding-left: 75px;
	}

	/* SERVICES SECTION */
	div#services {
		width: 100%;
		padding-top: 50px;

	}
	aside.services {
		/*width: 50%;*/
		/*position: relative;*/
		margin: 40px 25px 0px 100px;
		text-align: left;
		padding-left: 100px;
/*		float: left;
		clear: left;*/
		width: 80%;
		padding-top: 50px;
	}
	#design {
		position: absolute;
		margin-top: 50px;
		margin-left: 50px;
		padding-left: 
	}
	#services-images{
		display: none;
	}
	#development {
		position: absolute;
		margin-top: 275px;
		margin-left: 50px;
	}
	#marketing {
		position: absolute;
		margin-top: 400px;
		margin-left: 50px;
	}

	p.services-text {
		/*display: none;*/
	}

	/* ABOUT SECTION */
	#about-us {
		width: 100%;
		height: 600px;
		padding-left: 5%;
		height: 650px;
	}
	#about-us-image {
	height: 179px;
	width: 250px;
	position: absolute;
	margin: 0px;
	margin-bottom: 25px;
	}
	#about {
		margin-top: 200px;
		line-height: 15px;

	}

	/* CONTACT SECTION */
#contact-us{
	/*text-align: left;
	padding-left: 75px;
	padding-right: 75px;
	padding-top: 40px;
	width: 45%;
	float: left;*/
	width: 100%;
	height: auto;
}
img#contact-us-map {
	height: 275px;
	width: 375px;
	/*background-color: pink;*/
	/*text-align: center;*/
	margin-top: 135px;
}

	/* FORM SECTION */
	#questions-form {
	width: 100%;
	background-color: white;
	padding-left: 75px;

	background: rgba(255, 255, 255, 0.6);
  	border-radius: 0 0 5px 5px;
  	border: 1px solid #959595;
  	border-top-width: 0;
  	padding: 25px 25px 26px;
	}

	/* FOOTER */
	footer {
	font-size: 12px;
	}
	img#logo-2 {
	width: 118px;
	height: 37px;
	}
	img.socials {
		width: 20px;
		height: 20px;
		margin: 20px 10px 20px 10px;
	}
	div#socials {
		height: 65px;
	}
	
}


