body {
	text-align: center;
	line-height: 50px;
}

h1 {
	font-size: 35px; 
	text-align: center; 
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 25px;
	margin-bottom: 25px;
}

@media (max-width: 800px) {
	body {
		line-height: 25px;
		font-size: 12px;
		width: 80%;
		margin-left: 20px;
		margin-right: 0px;
	}
	h1 {
		font-size: 25px;
	}

}